/* feel free to change this to make it more aestethic! */

* {
    text-align: center;
    font-family: 'Arial', sans-serif;

}

body {
    background-color: #f0f8ff;
    margin: 0;
    padding: 20px;
}

/* https://htmlcheatsheet.com/css/ */
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
    This is a really good css interactive cheat sheet!
 */